<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tian.business.mapper.WriteMapper">
    
    <resultMap type="com.tian.business.domain.Write" id="WriteResult">
        <result property="id"    column="id"    />
        <result property="teamNumber" column="team_number"/>
        <result property="version" column="version"/>
        <result property="note" column="note" />
    </resultMap>

    <sql id="selectWriteVo">
        select id, team_number,version,note from bus_write
    </sql>

    <select id="queryVersion" resultType="java.lang.Float">
        select MAX(version) from bus_write;
    </select>
    <select id="queryList" resultMap="WriteResult" parameterType="com.tian.business.domain.Write">
        <include refid="selectWriteVo"/>
        where team_number = #{teamNumber}
        order by id DESC limit 3
    </select>

    <insert id="insertPapers" parameterType="com.tian.business.domain.Papers" useGeneratedKeys="true" keyProperty="id">
        insert into bus_papers
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="year != null">year,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="level != null and level != ''">level,</if>
            <if test="url != null and url != ''">url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="year != null">#{year},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="level != null and level != ''">#{level},</if>
            <if test="url != null and url != ''">#{url},</if>
         </trim>
    </insert>
    <insert id="add" parameterType="com.tian.business.domain.Write">
        insert into bus_write
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="teamNumber != null and teamNumber != ''">team_number,</if>
            <if test="version != null">version,</if>
            <if test="note != null and note != ''">note,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teamNumber != null and teamNumber != ''">#{teamNumber},</if>
            <if test="version != null">#{version},</if>
            <if test="note != null and note != ''">#{note},</if>
        </trim>
    </insert>

    <update id="updatePapers" parameterType="com.tian.business.domain.Papers">
        update bus_papers
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="year != null">`year` = #{year},</if>
            <if test="type != null and type != ''">`type` = #{type},</if>
            <if test="level != null and level != ''">`level` = #{level},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePapersById" parameterType="Long">
        delete from bus_papers where id = #{id}
    </delete>

    <delete id="deletePapersByIds" parameterType="String">
        delete from bus_papers where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
